/* global css */
.primary_header_text{
    font-size: 24px;
    line-height: 34px;
}
.mr-t{
    margin-top: 20px;
}
.container{
    padding: 20px;
}

/* section-1 */
.initial_container{
    display: block;
}
.left_container{
    padding: 40px 15px;
}
.right_container{
    width: auto;
}
.adult-paediatric-b{
    font-size: 18px;
    line-height: 27px;
}
.enquire_now{
    width: auto;
    height: auto;
}
/* section-1 ends */

/* section-2 */
.bone_marrow_container{
    display: block;
}
.bone_marrow_container img{
    width: 100%;
    height: 350px;
}
/* section-2 ends */

/* section-3 */
.doctors_card_container ul {
    grid-template-columns: repeat(1, 1fr);
}
/* section-3 ends */

/* section-4 */
.answer_container ul li{
    text-align: justify;
}
/* section-4 ends */

/* section-5 */
.cards_container{
    grid-template-columns: repeat(1, 1fr);
}
.cards{
    width: auto;
    text-align: center;
}
.card-body ul li {
    width: auto;
}
/* section-5 ends */

/* section-6 */
.accordian_card_link{
    font-size: 14px;
    width: 80%;
}
.card-body ul li{
    line-height: 24px;
    text-align: justify;
    margin-bottom: 10px;
}
/* section-6 ends */

/* section-7 */
.testimonials_secondarytext{
    width: auto;
}
.testimonial_card_container{
    display: block;
}
.testimonial_card{
    width: auto;
    margin-bottom: 20px;
}
.testimonial_info .watermark img{
    height: 35px;
    width: 35px;
}
.info_details img{
    width: 65px;
    height: 65px;
}
.info_details h2{
    font-size: 26px;
    margin: 0;
}
.info_details p{
    font-size: 12px;
}
.testimonial_description{
    font-size: 14px;
}
/* section-7 ends */

/* footer css */
.arrow_up_container img{
    width: 30px;
    height: 30px;
}
/* footer css ends */