:root{
    --font-primary: 'StagSans', sans-serif;
    --font-secondary: 'Titillium', sans-serif;
    --primary-color:  #22B78E;
}

/* global css styles*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
body, h1, ul, p{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.mr-t{
    margin-top: 40px;
}
.mr-tb{
    margin: 40px 0;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    height: 100%;
    width: 100%;
}
.primary_header_text{
    color: var(--primary-color);
    font-family: var(--font-primary);
    font-size: 31px;
    font-weight: 600;
    letter-spacing: 1.28px;
    line-height: 44px;
    text-align: left;
    margin-bottom: 25px;
}
/* global css styles ends*/

/* css related to section-1 */
.section-1{
    width: 100%;
    background-image: url(../images/Banner_mage\ 3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.initial_container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.left_container{
    padding: 40px;
}
.left_container .hospital_logo img{
    width: 200px;
    height: 80px;
}
.left_container .hospital_logo{
    margin-bottom: 50px;
}
.adult-paediatric-b {
    color: #FFFFFF;
    font-family: var(--font-secondary);
    font-size: 31px;
    font-weight: 600;
    letter-spacing: 1.28px;
    line-height: 40px;
    text-align: left;
}
.haematology-oncolo {
    color: #FFFFFF;
    font-family: var(--font-primary);
    font-size: 25px;
    letter-spacing: 3.59px;
    line-height: 34px;
    opacity: 0.5;
    font-weight: 200;
    text-align: left;
}
.book_btn{
    margin-top: 20px;
}
.rectangle{
    border: none;
    background-color: #DD5A6A;
    border-radius: 3.2px;
    width: 186px;
    height: 45px;
}
.book-appointment{
    color: #FFFFFF;
    font-family: Arial;
    font-size: 14.4px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
}

.right_container{
    margin: 10px;
}
.enquire_now{
    background-color: #FFFFFF;
    box-shadow: -4px 2px 13px 0 rgba(85, 95, 126, 0.18);
    width: 339px;
    height: 492px;
    padding: 20px;
}
.enquire_now_heading{
    color: #213559;
    font-family: var(--font-primary);
    font-size: 20.08px;
    line-height: 24px;
    width: 127px;
    text-align: left;
    margin-bottom: 25px;
}
.recaptha_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 20px;
}
.recaptha img{
    width: 50px;
    height: 50px;
}
.submit-btn{
    background-color: #DD5A6A;
    border-radius: 0;
    width: 111px;
    height: 44px;
}
.submit-btn-text{
    color: #FFFFFF;
    font-family: var(--font-primary);
    font-size: 14.84px;
    font-weight: 600px;
    line-height: 18px;
}
input[type=text],
input[type=email],
input[type=number] {
    padding: 10px 20px;
}
textarea{
    padding: 10px 20px !important;
}
/* css related to section-1 ends */

/* css related to section-2 */
.bone_marrow_container{
    display: flex;
    justify-content: space-between;
}
.bone_marrow_image img{
    width: 450px;
    height: 450px;
}
.bone_marrow_description{
    padding: 20px;
}
.bone_marrow_text_primary{
    padding: 20px;
    background: linear-gradient(90deg, rgba(46,196,184,1) 35%, rgba(96,120,234,1) 100%);
    border-radius: 4px;
}
.bone_marrow_text_primary p{
    color: #ffffff;
    font-weight: 600;
}
.bone_marrow_description ul li{
    padding: 20px 0;
}
.bone_marrow_description ul li:nth-child(even){
    border-top: 1px solid #ECECFF;
    border-bottom: 1px solid #ECECFF;
}
/* css section-2 end */

/* css related to section-3*/
.doctors_card_container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
}
.doctors_card_container ul li{
    background-color: #F9F9FF;
    border-radius: 4px;
    text-align: center;
    padding: 25px;
}
.doctors_card_container .hr_line{
    border-bottom: 1px solid #ECECFF;
    width: 70%;
    margin: 0 auto;
}
.doctors_card_container ul li img {
    width: 256px;
    height: 161px;
}
.text_primary{
    color: #22B78E;
    font-family: var(--font-primary);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.28px;
    line-height: 44px;
    margin-bottom: 20px;
}
.doctor_name{
    margin: 15px 0;
    color: #1D5AA6;
    font-family: var(--font-primary);
    font-size: 22px;
    letter-spacing: 1.76px;
    line-height: 26px;
    text-align: center;
}
.doctor_qualification{
    margin: 15px 0;
    color: #1D5AA6;
    font-family: var(--font-primary);
    font-size: 15px;
    letter-spacing: 1.2px;
    line-height: 24px;
    text-align: center;
}
.doctor_hr{
    border: 1px solid var(--primary-color);
    width: 37px;
    margin: 10px auto;
}
.doctor_description{
    margin: 15px 0;
    color: #000000;
    font-family: var(--font-primary);
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
.know_more{
    border: none;
    background: linear-gradient(90deg, rgba(46,196,184,1) 35%, rgba(96,120,234,1) 100%);
    border-radius: 4px;
    width: 129px;
    height: 49px;
    color: #ffffff;

}
/* css section-3 end*/

/* css related to section-4 */
.qa_container{
    width: 100%;
}
.answer_list li{
    padding: 10px 0;
    display: flex;
}
.answer_list li::before{
    content: " ";     
    margin-right: 15px;
    margin-top: 5px;
    padding: 10px;
    background-image: url("../images/plus.png");
    background-repeat: no-repeat;
}

/*css related to section-5 */
.cards_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px 0;
}
.cards{
    background-color: #fff;
    border: 1px solid #E5EAFF;
    box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
    height: 170px;
    width: 255px;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cards img{
    width: 35px;
    height: 35px;
}
.cards p{
    margin: 5px 0;
    color: #000000;
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 21px;
    width: 198px;
    text-align: left;
}

/* css related to section-6 */
.accordian_card{
    border: none;
}
.accordian_card_header{
    padding: 25px 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.accordian_card_link{
    color: #1D5AA6;
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.6px;
    line-height: 22px;
}
.accordian_card_header img{
    width: 22px;
    height: 11px;
}
.accordian_card_link{
    margin: 0;
}
/* .card-body ul li::before{
    content: " ";     
    margin-right: 15px;
    padding: 0 10px;
    background-image: url("./images/double-tick-indicator.png");
    background-repeat: no-repeat;
} */
.card-body {
    padding: 25px 0;
}
.card-body ul li img{
    width: 14px;
    height: 8px;
    margin-top: 10px;
    margin-right: 15px;
}
.card-body ul li{
    color: #000000;
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 30px;
    width: 1052px;
    text-align: left;
    display: flex;
}
/* section-6 css ends */

/* css related to section-7*/
.testimonials_container{
    display: flex;
    justify-content: space-between;
}
.testimonials_secondarytext{
    color: #000000;
    font-family: var(--font-primary);
    font-size: 15px;
    line-height: 21px;
    width: 609px;
    text-align: left;
    margin-bottom: 20px;
}
.testimonials_container img{
    cursor: pointer;
}
.testimonial_card_container{
    display: flex;
    overflow: visible;
}
.testimonial_card{
    padding: 25px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
    width: 517px;
    height: 249px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial_info{
    display: flex;
    justify-content: space-between;
}
.testimonial_description{
    margin-top: 20px;
    font-style: italic;
}
.info_details{
    display: flex;
}
.info_details img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
/* section-7 css ends */


/* css related to section-8 */
.appointment_button_container{
    width: 100%;
    text-align: center;
}
.appointment_button{
    border: none;
    background-color: #004498;
    border-radius: 3.81px;
    width: 221px;
    height: 54px;
    text-align: center;
}
.appointment_text{
    color: #FFFFFF;
    font-family: Arial;
    font-size: 17.14px;
    line-height: 21px;
    text-align: center;
}


/* css related to footer*/
footer{
    background-color: #272727;
    height: 256px;
}
.footer_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.arrow_up_container{
    position: absolute;
    top: 65px;
    right: 0;
}
.footer_container_primary{
    width: 100%;
}
.social_links_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_links{
    display: flex;
}
.social_links li:nth-child(even){
    margin: 0 10px;
}
hr.rule{
    border: 1px solid rgba(255, 255, 255, 0.21);
    opacity: 0.3;
}
.aster-cmi-all-right{
    color: #FFFFFF;
    font-family: var(--font-primary);
    font-size: 14px;
    letter-spacing: 1.12px;
    line-height: 17px;
    text-align: center;
}